@config "../../tailwind.config.mjs";
@import "tailwindcss";

:root {
  background-color: #000000;
  color: #FFFFFF;
}

body {
  @apply bg-apple-bg text-apple-text;
  -webkit-font-smoothing: antialiased;
}

/* Efeito Glassmorphism Ajustado para Dark Mode */
.glass {
  background: rgba(28, 28, 30, 0.7);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}